---
title: How
layout: default
---
	<body class="right-sidebar">

		{% include nav.html %}

		<!-- Main -->
			<div id="main-wrapper">
				<div class="container">
					<div class="row">
						<div class="8u">

							<!-- Content -->
								<article class="box post">
									<a href="#" class="image featured"><img src="{{ site.baseurl }}/assets/images/arrow.jpg" alt="" /></a>
									<header>
										<h2>How</h2>
										<p>Research and design methods</p>
									</header>
									<p>
										In this thesis I research, design, and implement a system of wayfinding in mixed reality environments. The project leverages cues from nature to provide a more intuitive wayfinding user experience across physical and digital objects that coexist and interact.
									</p>
									<section>
										<header>
											<h3>Research</h3>
										</header>
										<p>
											Further user research including cognitive mapping and contextual inquiry will be used to understand user information needs in context. Rapid prototyping and user testing will achieve a more human-centered design of mixed reality experiences.
										</p>
									</section>
									<section>
										<header>
											<h3>Technology</h3>
										</header>
										<p>
											While there are many options for development, the focus of my thesis is on researching and testing a wayfinding system in context. To this end I plan to use beam-splitting glass to project images from an iPad in order to quickly develop, test, and iterate upon designs.  
										</p>
									</section>
								</article>

						</div>
						{% include sidebar.html %}
					</div>
				</div>
			</div>