---
title: How
layout: default
---
	<body class="right-sidebar">

		{% include nav.html %}

		<!-- Main -->
			<div id="main-wrapper">
				<div class="container">
					<div class="row">
						<div class="8u">

							<!-- Content -->
								<article class="box post">
									<a href="#" class="image featured"><img src="{{ site.baseurl }}/assets/images/arrow.jpg" alt="" /></a>
									<header>
										<h2>How</h2>
										<p>Research and design methods</p>
									</header>
									<p>
										In this thesis I propose to research and develop frameworks for user advocacy in the design of ubiquitous computing environments. By conducting interviews with designers, strategists, and other stakeholders I aim to uncover insights most relevant for the human-centered design of these systems and visualize them for accessible use by practitioners in the field.
									</p>
									<section>
										<header>
											<h3>Pre-Thesis</h3>
										</header>
										<p>
											Here is last semester's <a href="https://docs.google.com/presentation/d/1993RO61iWCmw0bFVPn2YtEjKNCE-toCQ2BbiMO0DUbk/edit?usp=sharing" target ="blank">Pre-Thesis Defense Presentation</a>.
										</p>
										<p>
											Documentation of prototypes.
											<img src="{{ site.baseurl }}/assets/images/week-1/prethesis-prototype-overview.png" alt="" style="width:100%;height:auto;">
											<img src="{{ site.baseurl }}/assets/images/pt-final/final-sketch-hmds.png" alt="" style="width:100%;height:auto;">
											<img src="{{ site.baseurl }}/assets/images/pt-final/final-sketch-protorama-detail.png" alt="" style="width:100%;height:auto;">
									</section>
								</article>
						</div>
						{% include sidebar.html %}
					</div>
				</div>
			</div>