---
title: How
layout: default
---
	<body class="right-sidebar">

		{% include nav.html %}

		<!-- Main -->
			<div id="main-wrapper">
				<div class="container">
					<div class="row">
						<div class="8u">

							<!-- Content -->
								<article class="box post">
									<a href="#" class="image featured"><img src="{{ site.baseurl }}/assets/images/week-12/context-map-v3-diagram.jpg" alt="" /></a>
									<header>
										<h2>How</h2>
										<p>Research and Design Methods</p>
									</header>
									<p>
										In this thesis I researched and designed a method for human-centered design in mixed reality environments. When I observed the need for contextual user experiences, I first approached this study using user-centered design methods, literature review, and exploratory interviews. My research findings demonstrated that none of the existing methods adequately capture the user needs, people, space, and tools in a user’s context to inform the design of mixed reality environments. I ultimately developed a framework for describing the context within which a user interacts with a system. This project presents two case studies of users in mixed reality environments and application of the Context Map, a lightweight tool for the design process.
									</p>
									<p>
										Keywords: mixed reality, user context, user experience, human-centered design, design tools
									</p>
									<p>
										Early prototypes
										<img src="{{ site.baseurl }}/assets/images/early-prototypes-final.jpg" alt="" style="width:100%;height:auto;">
									</p>
									<p>
										Smart Home Case Study
										<img src="{{ site.baseurl }}/assets/images/week-11/smart-home-scenario.jpg" alt="" style="width:100%;height:auto;">
									</p>
									<p>
										MR HMD Case Study
										<img src="{{ site.baseurl }}/assets/images/week-10/hololens-scenario.jpg" alt="" style="width:100%;height:auto;">
										<img src="{{ site.baseurl }}/assets/images/week-10/hololens-pov-1.jpg" alt="" style="width:100%;height:auto;">
									</p>
								</article>
						</div>
						{% include sidebar.html %}
					</div>
				</div>
			</div>