---
title: Question
layout: default
---
	<body class="right-sidebar">

		{% include nav.html %}

		<!-- Main -->
			<div id="main-wrapper">
				<div class="container">
					<div class="row">
						<div class="8u">

							<!-- Content -->
								<article class="box post">
									<a href="#" class="image featured"><img src="{{ site.baseurl }}/assets/images/question-mark.jpg" alt="" /></a>
									<header>
										<h2>Question</h2>
										<p>How might we design an intuitive wayfinding system in mixed reality environments?</p>
									</header>
									<p>
										Today we spend much of our personal and professional lives in complex built environments that lack distinctive characteristics to intuitively navigate our way around. Simultaneously we spend an increasing amount of time in virtual environments and depend on digital tools for wayfinding in physical spaces. The proliferation of digital devices in our spaces, and diminished situation awareness that comes with their use, is stoking conflict between physical and virtual worlds. 
									</p>
									<section>
										<header>
											<h3>Mixed Reality</h3>
										</header>
										<p>
											The introduction of mixed reality, a continuum of environments between reality and virtual reality, poses new challenges for interactions in both our physical and virtual worlds - the most crucial being our ability to find our way. While this case study is in a university setting, the findings may benefit other environments where wayfinding can be mission-critical such as airports and hospitals.
										</p>
									</section>
								</article>

						</div>
						{% include sidebar.html %}
					</div>
				</div>
			</div>