---
title: Question
layout: default
---
	<body class="right-sidebar">

		{% include nav.html %}

		<!-- Main -->
			<div id="main-wrapper">
				<div class="container">
					<div class="row">
						<div class="8u">

							<!-- Content -->
								<article class="box post">
									<a href="#" class="image featured"><img src="{{ site.baseurl }}/assets/images/question-mark.jpg" alt="" /></a>
									<header>
										<h2>Question</h2>
										<p>How might we advocate for users in the design of ubiquitous computing environments?</p>
									</header>
									<p>
										Ubiquitous computing is a concept where computing can be done anywhere and from any device rather than sitting at a desktop computer demanding your full attention. Since this original vision was articulated by Mark Weiser in the late 1980s, today’s computers are much smaller and mobile and are taking over our bodies and our environment. The proliferation of wearables and the Internet of Things poses new challenges for designers who need to consider the user experience not just with a particular product or service but rather with a broader digital ecosystem. How might we advocate for users in the design of ubiquitous computing environments?
									</p>
								</article>

						</div>
						{% include sidebar.html %}
					</div>
				</div>
			</div>