---
title: How
layout: default
---
	<body class="left-sidebar">
	{% include nav.html %}

		<!-- Main -->
			<div id="main-wrapper">
				<div class="container">
					<div class="row">
						{% include sidebar.html %}
						<div class="8u skel-cell-important">

							<!-- Content -->
								<article class="box post">
									<a href="#" class="image featured"><img src="{{ site.baseurl }}/assets/images/hyperreal.jpg" alt="" /></a>
									<header>
										<h2>Why</h2>
										<p>Finding our way in digital and physical spaces</p>
									</header>
									<p>
										More and more we rely on digital tools to find our way in physical spaces, and these virtual environments literally shape the way we see the world. My research plan to create a system of wayfinding design for mixed reality environments prioritizes the ease of use in navigation, a key usability issue in UX today.
									</p>
									<section>
										<header>
											<h3>The Value of UX Research</h3>
										</header>
										<p>
											Software project failures cost the US economy an estimated $25 to $75 billion annually, and many of the reasons for failure are preventable. UX research conducted up front can help avoid some of these failures such as badly defined system requirements, poor communication among customers, users and developers, and stakeholder politics. 
										</p>
									</section>
									<section>
										<header>
											<h3>Broader Impacts</h3>
										</header>
										<p>
											Being lost comes with psychological and financial costs that impact society on a global scale. Good wayfinding systems benefit society by decreasing perceived crowding, confusion, anger and discomfort. Poor wayfinding is expensive for businesses when providing directions impacts employee productivity or requires hiring additional staff. While this case study is in a university setting, the findings may benefit other environments such as airports and hospitals where wayfinding can be mission-critical.
										</p>
									</section>
								</article>

						</div>
					</div>
				</div>
			</div>