---
title: How
layout: default
---
	<body class="left-sidebar">
	{% include nav.html %}

		<!-- Main -->
			<div id="main-wrapper">
				<div class="container">
					<div class="row">
						{% include sidebar.html %}
						<div class="8u skel-cell-important">

							<!-- Content -->
								<article class="box post">
									<a href="#" class="image featured"><img src="{{ site.baseurl }}/assets/images/hyperreal.jpg" alt="" /></a>
									<header>
										<h2>Why</h2>
										<p>UX across digital and physical spaces</p>
									</header>
									<p>
										Ubiquitous computing is a concept where computing can be done anywhere and from any device rather than sitting at a desktop computer demanding your full attention. Since this original vision was articulated by Mark Weiser in the late 1980s, today’s computers are much smaller and mobile and are taking over our bodies and our environment. The proliferation of wearables and the Internet of Things poses new challenges for designers who need to consider the user experience not just with a particular product or service but rather with a broader digital ecosystem. 
									</p>
									<section>
										<header>
											<h3>The Value of UX Research</h3>
										</header>
										<p>
											Software project failures cost the US economy an estimated $25 to $75 billion annually, and many of the reasons for failure are preventable. UX research conducted up front can help avoid some of these failures such as badly defined system requirements, poor communication among customers, users and developers, and stakeholder politics. 
										</p>
									</section>
								</article>

						</div>
					</div>
				</div>
			</div>